
.jumbotron {
background-image: url("../images/petriDish.jfif");
background-size: 100% 100%;
text-align: center;
opacity: 0.95;
color: aliceblue;
font-size: 14px;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black;
}

.panel{
background-color: #5499C7 ;
color: aliceblue;
object-fit: contain;
}

